@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './styles/defaults';
@import './styles/animations';

.App {

  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  
}

button:hover {

  scale: 1.02;
  transition: all 0.16s ease-in-out;
  line-height: 1;
  
  * {
    
    scale: 1.02;
    transition: all 0.16s ease-in-out;

  }

}