@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './styles/defaults';
@import './styles/animations';

.App {

  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  
}

input, input::placeholder {

  font-family: 'Quicksand', sans-serif;
  font-size: 0.85rem;
  
}

input {
  
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 0.6rem 0.75rem;
  outline: none;
  background-color: white;

}

.btn-input {

  button {

    background-color: white;

  }

}