@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './styles/defaults';
@import './styles/animations';

.App {

  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  
}

#alert-container {

  animation: toast-pop 3.64s forwards ease-out;

}

.alert-timer {

  .bar {

    animation: alert-timer 3s forwards linear;
    animation-delay: 0.32s;

  }

}